@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #351D6B;
  background: #fff;
}

.herobg {
  position: absolute;
  height: 200vh;
  top: 99px;
  left: 0;
  width: 100%;
  background: url('../assets/svg/Rectanglehero.svg') no-repeat;
  z-index: -1;
}

.early {
  background: url('../assets/svg/Rectangle2.svg') no-repeat;
}

.first {
  background: linear-gradient(0.05deg, rgba(228, 217, 254, 0) -0.1%, rgba(228, 217, 254, 0.7) 22.87%, #E4D9FE 44.83%, rgba(228, 217, 254, 0.7) 68.38%, rgba(228, 217, 254, 0) 100.17%);
}

.second {
  background: linear-gradient(0.05deg, rgba(255, 161, 0, 0) -0.1%, rgba(255, 161, 0, 0.05) 22.87%, rgba(255, 161, 0, 0.15) 47.53%, rgba(255, 161, 0, 0.1) 73.15%, rgba(255, 161, 0, 0) 100.17%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
